doctype html
html(lang="en")
  head
    include components/headbasic.pug
    // Open Graph / Facebook
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://www.hellorganics.com/')
    meta(property='og:title' content='hello organic - fresh and healthy organic products')
    meta(property='og:description' content='welcome to the home of organics foods in egypt. we are producing organic chicken, honey bees, organic eggs, fresh organic vegetables, microgreens, and dairy milk.')
    meta(property='og:image' content='https://images.ctfassets.net/qsose1xd63wa/7lC3HTuyLCfIRvgR6eXbuS/9f3eaef53805b4418de2782ea7161c13/fb.jpg')
    // Twitter
    meta(property='twitter:card' content='summary_large_image')
    meta(property='twitter:url' content='https://www.hellorganics.com/')
    meta(property='twitter:title' content='hello organic - fresh and healthy organic products')
    meta(property='twitter:description' content='welcome to the home of organics foods in egypt. we are producing organic chicken, honey bees, organic eggs, fresh organic vegetables, microgreens, and dairy milk.')
    meta(property='twitter:image' content='https://images.ctfassets.net/qsose1xd63wa/7lC3HTuyLCfIRvgR6eXbuS/9f3eaef53805b4418de2782ea7161c13/fb.jpg')
  body(data-barba='wrapper')
    .container(data-barba='container' data-barba-namespace='home')
      include components/header.pug
      main
        //- section.hero 
        //- section.wellcom 
          h3.title Hello Orgainc Farm!
          .cycle-wrapper
            .cycle
              p 1.
              h3 Modern Farm
              p we use a modern technology farming method of growing plants using mineral nutrient solutions, in water and without soil.
            .cycle
              p 2.
              h3 Best Quality Products
              p We stand for providing the most fresh organic products which will serve your health and be a source of vitamins and minerals for our clients.
            .cycle
              p 3.
              h3 Fast Delivery
              p We want our client to receive their fresh products as soon as possible, so we process and ship the order at once.
          img.float-left(src=require("./imges/khass.png"), alt="")
          img.float-right(src=require("./imges/tomato.png"), alt="")
        section.vedio-slider
          .swiper.mySwiper
            .swiper-wrapper
              .swiper-slide
                .product.vid1
                  a#play-video1.video-play-button(data-id="wBcnUUkdavE")
                    span              
              .swiper-slide
                .product.vid2
                  a#play-video2.video-play-button(data-id="V0BrgBF9IQM")
                    span              
              .swiper-slide
                .product.vid3
                  a#play-video3.video-play-button(data-id="Bt2Z-YauZrs")
                    span                         
        
             
            .swiper-pagination
        section.why-us
          .hero
          .counters-wrapper
            h2 Why Hello organic ?
            //- p All of our products are fresh & healthy.
            .counter-container
              .counter-item
                p.counter(data-num='21') 20+
                p.info  protein & power
              .counter-item
                p.counter(data-num='101') 100%
                p.info Fresh
              .counter-item
                p.counter(data-num='101') 100%
                p.infoHappy Organic & healthy
              .counter-item
                p.counter(data-num='41') 7 Days
                p.info Home Delivery
        section.category
          h3 Our Category products
          .wrapper
            a.items(href="./products.html#vegetables")
              img(src=require("./imges/cat-veg.jpg"))
              p vegtables
            a.items(href="./products.html#microgreen")
              img(src=require("./imges/cat-micro.jpg"))
              p Microgreen
            a.items(href="./products.html#dairy")
              img(src=require("./imges/cat-dairy.jpg"))
              p Dairy
            a.items(href="./products.html#bee")
              img(src=require("./imges/cat-bee.jpg"))
              p Bee
            a.items(href="./products.html#chicken")
              img(src=require("./imges/cat-ch.jpg"))
              p chicken
        //- section.week-deal
          .container 
            .left 
              h3 
                |Deals Of The 
                span Weeks
              p
                | Get 
                span.unit 1KG 
                |  of 
                span.product Capsicum 
                |  for only 
                span.price EGP 20
              p 
                | We have Only about 
                span.stock 100kg 
                |  existing for order.
            .right 
              .product
                img(src="https://cdn.gourmetegypt.com/media/catalog/product/cache/2b4d21b90ad5abb98380bc0a709a4ac8/r/e/red-_-yellow-capsicums-photo.jpg")
      #video-overlay.video-overlay
        a.video-overlay-close &times;

      include components/footer/footer.pug
