doctype html
html(lang="en")
  head
    include components/headbasic.pug
  body(data-barba='wrapper')
    .container(data-barba='container' data-barba-namespace='home')
      include components/header.pug
      main
        section.hero 
        section.wellcom 
          h3.title Hello Orgainc Farm!
          .cycle-wrapper
            .cycle
              p 1.
              h3 Modern Farm
              p we use a modern technology farming method of growing plants using mineral nutrient solutions, in water and without soil.
            .cycle
              p 2.
              h3 Best Quality Products
              p We stand for providing the most fresh organic products which will serve your health and be a source of vitamins and minerals for our clients.
            .cycle
              p 3.
              h3 Fast Delivery
              p We want our client to receive their fresh products as soon as possible, so we process and ship the order at once.
        section.story 
          .story-img 
            img(src=require("./imges/checken.jpg"), alt="")
          .story-content 
            p.handerite wellcome to
            h4 Hello organic store 
            p Hello Organic store opened its doors in 2020, it was Abdelhalim Kotb dream to offer the best and widest range of organic foods available, and his mission to promote health in the community and to bring a sense of discovery and adventure into food shopping.
            button
              | OUR PRODUCTS
              svg(stroke='currentColor' fill='currentColor' stroke-width='0' viewbox='0 0 1024 1024' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg')
                path(d='M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z')


        section.why-us
          .hero
          .counters-wrapper
            h2 why choose us
            p All of our products are organic & fresh.
            .counter-container
              .counter-item
                p.counter(data-num='21') 20+
                p.info  Products
              .counter-item
                p.counter(data-num='101') 100%
                p.info Fresh
              .counter-item
                p.counter(data-num='301') 300+
                p.infoHappy Clients
              .counter-item
                p.counter(data-num='41')
                  | 40
                  span.marker
                    svg(stroke='currentColor' fill='currentColor' stroke-width='0' viewbox='0 0 384 512' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg')
                      path(d='M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z')
                p.info Delivery
        //- section.banner 
          h3 Chicken & Vegetables
          p Fresh and Delicious All Year Round!
          button Shop Now
        section.week-deal
          .container 
            .left 
              h3 
                |Deals Of The 
                span Weeks
              p
                | Get 
                span 1KG 
                | for only 
                span EGP 20
              .deal-wrapper 
                .days
                  p 7
                  p Days 
                .hours
                  p 23
                  p hours 
                .min
                  p 52
                  p min 
                .sec
                  p 07
                  p sec 
            .right 
              .product
                img(src="https://cdn.gourmetegypt.com/media/catalog/product/cache/2b4d21b90ad5abb98380bc0a709a4ac8/r/e/red-_-yellow-capsicums-photo.jpg")
        //- section.facts 
          img(src=require("./imges/vigheart.png") alt="")
          .info
            div 
              h5 A Source of Vitamins
              p Vegetables can be eaten either raw or cooked and play an important role in human nutrition, being mostly low in fat and carbohydrates, but high in vitamins, minerals and dietary fiber.

            div 
              h5 Best Quality Products
              p “We eliminated any possible pollution in our soils in order to deliver the purest organic produce to our customers’ tables.“
            div 
              h5  Best Quality Products
              p Vegetables can be eaten either raw or cooked and play an important role in human nutrition, being mostly low in fat and carbohydrates, but high in vitamins, minerals and dietary fiber.


        //- section.prod-feature
          img(src=require('./imges/checken.jpg') alt='')
          img(src=require('./imges/tomato.jpg') alt='')
          img(src=require('./imges/carotes.jpg') alt='')
          img(src=require('./imges/checken.jpg') alt='')
          img(src=require('./imges/tomato.jpg') alt='')
          img(src=require('./imges/carotes.jpg') alt='')
          img(src=require('./imges/checken.jpg') alt='')
          img(src=require('./imges/tomato.jpg') alt='')
      include components/footer/footer.pug
